<div class="container">
    <div class="row justify-content-center">

      <% if @flats %>
        <% @flats.each do |flat| %>
          <div class="col-sm-6 col-md-4">

            <div class="card flat-card">
              <% if flat.photo.attached? %>
                <%= image_tag(flat.photo, class: "card-img-top", alt: flat.name) %>
              <% else %>
                <%= image_tag("default_image.jpg", class: "card-img-top", alt: flat.name) %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= flat.name %></h5>
                <p class="card-text"><%= flat.description %></p>
                <div class="btn-right">
                  <%= link_to edit_flat_path(flat) do %></span>
                    <span class="color-red me-3"><i class="fa-solid fa-pencil"></i></span>
                  <% end %>
                  <%= link_to flat_path(flat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                    <span class="color-red"><i class="fa-solid fa-trash"></i></span>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>
</div>
